<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divyanshukumar.yourapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/search_logo"
        android:label="Search App"
        android:roundIcon="@drawable/search_logo"
        android:supportsRtl="true">
        <receiver android:name=".MainActivity$switchButtonListener" />



        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AppListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_list_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DatabaseTest"
            android:theme="@style/AppTheme" />
        <activity android:name=".AdPopUp"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>